[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
duckdb = "*"
pandas = "*"
polars = "*"
altair = "*"
matplotlib = "*"
scikit-learn = "*"
numpy = "<2.0"
catboost = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.12"
